<div class="container">
  <div class="dashboard-actions mb-3">
    <%= link_to 'Create New League', new_league_path, class: 'btn btn-outline-secondary' %>
  </div>
  <%= render partial: 'shared/leagues_table', locals: { title: 'Leagues' } %>
</div>
