<div class="container">
  <div class="league-actions">
    <% if policy(@league).destroy? %>
      <%= button_to "Delete league", @league, class: 'btn btn-outline-danger', method: :delete %>
    <% end %>
  </div>
  <%= @league.name %>
</div>