<div class="league-show__last-game">
  <b>Date / Time:</b> <%= @league.last_completed_game_full_date %><br />
  <b>Winner:</b> <%= @league.last_completed_game_winner %><br />
  <b>Pot Size:</b> <%= @league.last_completed_game_pot_size %><br />
  <b># of Players:</b> <%= @league.last_completed_game_players_count %>
</div>
