<% if resource.errors.any? %>
<div class="alert alert-dark alert-dismissible fade show" role="alert">
  <%= resource.errors.full_messages.join(", ") %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>
