<h4><%= "Last #{pluralize(games.count, 'game')}" %></h4>
<table class="table table-striped table-responsive-md">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Winner</th>
      <th class="d-none d-sm-table-cell" scope="col"># of Players</th>
      <th scope="col">Pot</th>
      <% if @user_stats %>
        <th scope="col">Place</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if games.any? %>
      <%= render partial: 'shared/game_row', collection: games, as: :game %>
    <% else %>
      <tr class="season-show__games-table">
        <td colspan="5">No games just yet, check back later!</td>
      </tr>
    <% end %>
  </tbody>
</table>
