<div class="container devise-form">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        Edit game
      </div>
      <div class="card-body">
        <%= form_for @game do |f| %>
          <%= render partial: 'game_form', locals: { button_title: 'Update Game', f: f } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
