.dashboard-actions, .league-actions, .game-actions {
  display: flex;
  flex-direction: row;

  & > a {
    text-transform: uppercase;
    font-size: 0.8em;
  }

  & > form.button_to > input.btn {
    text-transform: uppercase;
    font-size: 0.8em
  }
}


@include media-breakpoint-only(xs) {
  .dashboard-actions, .league-actions, .game-actions {
    display: block;
  } 
}