div.container.devise-form {
  display: flex;
  justify-content: space-around;
}

div.devise-links {
  margin-top: 10px;
  
  text-transform: uppercase;
  & > a {
    font-size: 0.7em;
    margin-right: 15px;
    color: gray;
  }
}