table.game-standings, table.game-rebuyers {
  & > thead.thead-dark > tr {
    white-space: nowrap;
  }
}

td.up-down-button {
  display: flex;
  flex-direction: row;
}

tr.game-standing, tr.rebuyer {
  & > td.grow, & > th, & > td {
    vertical-align: baseline;
  }
}

td.grow {
  width: 100%;
}
