a.list-group-item.league-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.league-show__seasons-table {
  cursor: pointer;
}

tr.league-show__seasons-table.active-season, tr.league-show__seasons-table.active-season:hover {
  color: #d9534f;
}
