.jumbotron {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1551368998-d349c755c74c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2098&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}