.season-confirmation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.season-confirmation__actions {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.season-actions {
  display: flex;
  align-items: flex-end;

  & > form.button_to > input.btn, & > a.btn {
    text-transform: uppercase;
    font-size: 0.8em;
  }

  & > div.count-buttons {
    display: flex;
    flex-direction: column;

    & > div.btn-group > a#on-button, & > div.btn-group > a#off-button {
      text-transform: uppercase;
      font-size: 0.8em;
    }

    & > label.btn-group-label {
      text-transform: uppercase;
      font-size: 0.7em;
    }
  }

  div.btn-group form{
    display: inline;
  }
}
