.season-confirmation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.season-confirmation__actions {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.season-actions {
  display: flex;
  align-items: flex-end;

  & > div.count-buttons {
    display: flex;
    flex-direction: column;
  }

  div.btn-group form{
    display: inline;
  }
}
