<div class="container text-center">
  <h1>404</h1>
  Oh, hey friend! I don't know how you got to this page, but you might be lost. Maybe try clicking something else or check out one of our <%= link_to 'public leagues', public_leagues_path %>!
</div>
